<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style>
      .execution {
        background: #ff8f81;
      }
      .execution.success {
        background: #b5ffbd;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <table class="summary pure-table">
      <tr class="pure-table-odd">
        <td class="label">Nb decision seq.</td> <td>{{ data.totalSize.0 }}</td>
      </tr>
      <tr>
        <td class="label">Nb valid correct patches</td> <td>{{ data.nbPassedSeqLaps.0 }}</td>
      </tr>
    </table>
    <ul class="executions">{% for execution in executions %}
      	<li class="execution {% if execution.result.success %}success{% endif %}">
      		<h2>Execution {{ forloop.counter }}</h2>
        	{% for decision in execution.decisions %}<span class="decision">{{ decision.strategy}} </span>{% endfor %}<br>
        <pre class="diff"><code>{{ execution.diff }}</code></pre>
      	</li>{% endfor %}
    </ul>
  </body>
</html>
