<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NPEFix exploration - {{ version }} Results</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <h1>NPE Dataset</h1>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Bug id</th>
        <th rowspan="2">Benchmark</th>
        <th rowspan="2">Oracle</th>
        <th rowspan="2">Bug Type</th>
        <th rowspan="2">Application Type</th>
        <th rowspan="2">Nb encountered decision points</th>
        <th rowspan="2">Nb decision seq.</th>
        <th rowspan="2">Nb valid runtime patches</th>
        <th colspan="3">| Valid runtime patches.|</th>
      </tr>
      <tr>
        <th>min</th>
        <th>med</th>
        <th>max</th>
      </tr>
    </thead>
    <tbody>
      {% for bug_id, values in data %}<tr class="pure-table-{{ loop.cycle('odd','even')}}">
        <td>{{ loop.index }}</td>
        <td><a href="{{ values.bugTitlePath }}/index.html">{{ bug_id }}</a></td>
        <td>{{ values.projectData.benchmark }}</td>
        <td>{{ values.projectData.oracle }}</td>
        <td>{{ values.projectData.type }}</td>
        <td>{{ values.projectData.application }}</td>
        <td>{{ values.nbExploredLocation.0 }}</td>
        <td>{{ values.totalSize.0 }}</td>
        <td>{{ values.nbPassedSeqLaps.0 }}</td>
        <td>{{ values.minSizeCorrectSeqDecision.0 }}</td>
        <td>{{ values.medSizeCorrectSeqDecision.0 }}</td>
        <td>{{ values.maxSizeCorrectSeqDecision.0 }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>{{ data|length }} bugs</th>
        <th>{{ data|sum('projectData.benchmark') }} benchmarks</th>
        <th>{{ data|sum('projectData.oracle') }} oracles</th>
        <th>{{ data|sum('projectData.type') }} bug types</th>
        <th>{{ data|sum('projectData.application') }} application types</th>
        <th>{{ data|sum('nbExploredLocation') }}</th>
        <th>{{ data|sum('totalSize') }}</th>
        <th>{{ data|sum('nbPassedSeqLaps') }}</th>
        <th>{{ data|sum('minSizeCorrectSeqDecision') }}</th>
        <th>{{ data|sum('medSizeCorrectSeqDecision') }}</th>
        <th>{{ data|sum('maxSizeCorrectSeqDecision') }}</th>
      </tr>
    </tfoot>
  </table>

  <h2>Projects</h2>
  <table class="pure-table">
    <thead>
      <tr>
        <th>Project</th>
        <th>Nb Bugs</th>
      </tr>
    </thead>
    <tbody>
      {% for project_name, value in projects %}<tr class="pure-table-{{ loop.cycle('odd','even')}}">
        <td>{{ project_name }}</td>
        <td>{{ value|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>{{ projects|length }} projects</td>
        <th></th>
      </tr>
    </tfoot>
  </table>

  <h2>Bug Types</h2>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Oracle</th>
        <th>Nb Bugs</th>
      </tr>
    </thead>
    <tbody>
      {% for name, value in types %}<tr class="pure-table-{{ loop.cycle('odd','even')}}">
        <td>{{ name }}</td>
        <td>{{ value|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>{{ types|length }} bug types</th>
        <th></th>
      </tr>
    </tfoot>
  </table>

  <h2>Oracle</h2>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Oracle</th>
        <th>Nb Bugs</th>
      </tr>
    </thead>
    <tbody>
      {% for name, value in oracles %}<tr class="pure-table-{{ loop.cycle('odd','even')}}">
        <td>{{ name }}</td>
        <td>{{ value|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>{{ oracles|length }} oracles</td>
        <th></th>
      </tr>
    </tfoot>
  </table>

  <h2>Benchmark</h2>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Benchmark</th>
        <th>Nb Bugs</th>
      </tr>
    </thead>
    <tbody>
      {% for name, value in benchmarks %}<tr class="pure-table-{{ loop.cycle('odd','even')}}">
        <td>{{ name }}</td>
        <td>{{ value|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>{{ benchmarks|length }} benchmarks</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</body>
</html>