<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Regression results for {{ project }}</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../../css/style.css">
</head>
<body>
  <h1>Regression results for {{ project }}</h1>
  <table class="summary pure-table">
    <thead>
      <tr>
        <td>#</td>
        <td>Location</td>
        <td>Patch ID</td>
        <td># Applied</td>
        <td># Request</td>
        <td># Valid/Total Request</td>
      </tr>
    </thead>
    <tbody>
    {% for location, value in data %}
      {% for location, patch_id, agregated in value %}
      <tr class="reponse">
        <td>{{ loop.index }} </td>
        <td><a href="{{ location.replace(':', '-')}}{% if location == 'original'%}{% else %}-{{ patch_id }}{% endif %}/index.html">{{ location }}</a></td> 
        <td><a href="{{ location.replace(':', '-')}}{% if location == 'original'%}{% else %}-{{ patch_id }}{% endif %}/index.html">{{ patch_id }}</a></td> 
        <td>{{agregated.appliedPatches|length}}</td>
        <td>{{ agregated.nbRequest }}</td>
        <td>{{ agregated.nbRequest - agregated.nbDiff }}/{{ agregated.nbRequest}}</td>
      </tr>{% endfor %}
      {% endfor %}
    </tbody>
  </table>
</body>
</html>