<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <table class="summary pure-table">
      <tr class="pure-table-odd">
        <td class="label"># Request</td> <td>{{ data|length }}</td>
      </tr>
      <tr>
        <td class="label"># Location</td> <td>{{ agregated.locations|length }}</td>
      </tr>
      <tr>
        <td class="label"># Expression</td> <td>{{ agregated.locations|sum('expression') }}</td>
      </tr>
      <tr>
        <td class="label"># Diff</td> <td>{{ agregated.nbDiff }}/{{ agregated.nbRequest }}</td>
      </tr>
      <tr>
        <td class="label"># True</td> <td>{{ agregated.locations|sum('true') }}</td>
      </tr>
      <tr>
        <td class="label"># False</td> <td>{{ agregated.locations|sum('false') }}</td>
      </tr>
    </table>

    <table class="summary pure-table">
      <thead>
        <tr>
          <td>#</td>
          <td>Location</td>
          <td>Expression</td>
          <td># True</td>
          <td># False</td>
        </tr>
      </thead>
      <tbody>
        {% for location, response in agregated.locations %}
        <tr class="reponse pure-table-{{ loop.cycle('odd','even')}}">
          <td>{{ loop.index }}</td> 
          <td>{{ location }}</td>
          <td>{{ response.expression }}</td>
          <td>{{ response.true }}</td>
          <td>{{ response.false }}</td>
        </tr>{% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>{{ agregated.locations|length }} Locations</th>
          <th>{{ agregated.locations|sum('expression') }} Expressions</th>
          <th>{{ agregated.locations|sum('true') }} True</th>
          <th>{{ agregated.locations|sum('false') }} False</th>
        </tr>
      </tfoot>
    </table>

    <ul class="requests">{% for request in data %}
        <li class="request">
          <h2>Request {{ loop.index }} {{ request.request.method }} {{ request.response.status }} {{ request.request.url }} {{ request.request.parameters }}</h2>
          {{ request.diff |diff2html }}
          
        </li>{% endfor %}
    </ul>
  </body>
</html>
