<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Patch Regression Evaluation</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
  <section>
    <h1>Regression Evaluation</h1>

    <table class="summary pure-table">
      <tr class="pure-table-odd">
        <td class="label"># Patch</td> <td>{{ countTotal }}</td>
      </tr>
      <tr>
        <td class="label"># Valid Patch</td> <td>{{ countValid }}</td>
      </tr>
    </table>
    <table class="summary pure-table">
      <thead>
        <tr>
          <td>Project</td>
          <td>Location</td>
          <td>Patch ID</td>
          <td># Applied</td>
          <td># Request</td>
          <td># Valid/Total Request</td>
        </tr>
      </thead>
      <tbody>
      {% for project, valueProject in data %}
      {% for location, value in valueProject %}
        {% for location, patch_id, agregated in value %}
        <tr class="reponse">
          <td><a href="{{ project }}/index.html">{{ project }}</a></td>
          <td><a href="{{ project }}/{{ location.replace(':', '-')}}{% if location == 'original'%}{% else %}-{{ patch_id }}{% endif %}/index.html">{{ location }}</a></td> 
          <td><a href="{{ project }}/{{ location.replace(':', '-')}}{% if location == 'original'%}{% else %}-{{ patch_id }}{% endif %}/index.html">{{ patch_id }}</a></td> 
          <td>{{agregated.appliedPatches|length}}</td>
          <td>{{ agregated.nbRequest }}</td>
          <td>{{ agregated.nbRequest - agregated.nbDiff }}/{{ agregated.nbRequest}}</td>
        </tr>{% endfor %}
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </section>
</body>
</html>