html {
    color: #24292e;
}

md-sidenav {
  max-width: 475px;
  width: 475px;
}
.executionSelector {
    height: 100%;
}
.executionSelector h2 {
    padding-left: 4px;
}
.executionSelector > div {
    border-left: 1px solid #ddd;
}
.executionSelector button {
    margin: 0;
    text-align: left;
    border-radius: 0;
}
#content {
    position: relative;
    overflow: auto;
}
.summaryTable, .executionsTable {
    border: 1px solid #ddd;
}
table {
    width: 99%;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: auto 0;
    padding: 0;
}
table tr {
    border-top: 1px solid #ddd;
}
.pure-table tr:hover td {
    background-color: #e0e0e0!important;
}
.strategyTable > tbody > tr {
    border-top: 2px solid #ddd;
}
.strategyTable > tbody > tr:hover {
    background: #EEEEEE;
}
table table tr:first-child {
    border-top: 0;
}
table table tr:last-child {
    border-bottom: 0;
}
table td {
    vertical-align: middle;
}
.pure-table tfoot {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

td.content {
    border-left: 1px solid #ddd;
    padding: 7px;
}
table td.strategy {
    width: 100px;
}
table td.value {
    width: 100px;
    overflow: hidden;
    text-align: right;
}
td.testName {
    width: 350px;
}
.executionCount {
    width: 35px;
    text-align: right;
}
td.success, td.fail {
    width: 70px;
}
td.success {
    color: blue;
}
tr.total {
    font-weight: bold;
    border-top: 2px solid #DDD;
}
td.fail {
    color: red;
}
button.selected {
    background: #DDD;
}
td.locations {
    padding: 0;
    border: 0;
}
td.locations table {
    table-layout: fixed;
    padding: 0;
    margin: 0;
    border: 0;
}

.executions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.executions .execution {
    background: none;
    margin: 0;
    margin-top: 10px;
    padding-left: 10px; 
    padding-right: 10px; 
    border-left: 5px solid #cc2b17;
}
.executions .execution.success {
    background: none;
    border-left-color: #008c0f;
}
.execution h2 {
    margin: 0;
    padding: 0;
}
table.diff {
    border-collapse: separate;
    white-space:pre-wrap;
    border: 1px solid #DDD;
    width: 100%;
}

table.diff tbody th {
    font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
    background:#EED;
    font-size:11px;
    font-weight:normal;
    border:1px solid #BBC;
    color:#886;
    padding:.3em .5em .1em 2em;
    text-align:right;
    vertical-align:top
}
table.diff thead {
    border-bottom:1px solid #BBC;
    background:#EFEFEF;
    font-family:Verdana
}
table.diff thead th.texttitle {
    text-align:left
}
table.diff tbody td {
    padding:0px .4em;
    padding-top:.4em;
    vertical-align:top;
}
table.diff tr {
    border: 0px;
}
table.diff tr.addition .line {
    background-color: #cdffd8;
    border-color: #bef5cb;
}
table.diff tr.addition .code {
    background-color: #e6ffed;
}
table.diff tr.addition .code::before {
    position: absolute;
    content: "+"
}
table.diff tr.deletation .line {
    background-color: #ffdce0;
    border-color: #fdaeb7;
}
table.diff tr.deletation .code {
    background-color: #ffeef0;
}
table.diff tr.deletation .code::before {
    position: absolute;
    content: "-"
}

table.diff .line::before {
    content: attr(data-line-number);
}

table.diff .line {
    width: 1%;
    min-width: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27,31,35,0.3);
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
table.diff .code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #24292e;
    width: 100%;
}
table.diff .code > span {
    word-wrap: normal;
    white-space: pre;
    padding-left: 12px;
}
table.diff .chuck {
    height: 3px;
    background: #DDD;
    font-size: 3px;
    line-height: 3px;
}
table.diff .empty {
        background-color:#DDD;
}
table.diff .replace {
        background-color:#FD8
}
table.diff .delete {
        background-color:#E99;
}
table.diff .skip {
        background-color:#EFEFEF;
        border:1px solid #AAA;
        border-right:1px solid #BBC;
}
table.diff .insert {
        background-color:#9E9
}
table.diff th.author {
        text-align:right;
        border-top:1px solid #BBC;
        background:#EFEFEF
}